.risks {
    // padding: 100px 0 0;
    position: relative;
    // padding-bottom: 100px;


    &-title {
        margin-bottom: 35px;
    }

    &-subtitle {
        font-size: 24px;
        line-height: 36px;
        max-width: 775px;
        color: $gray;
        margin-bottom: 40px;
    }

    &-container {
        position: relative;
    }

    &-money {
        height: 100%;
        transform: translateX(-50%);
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }

    &-content {
        &::after {
            //     content: url('../images/blue man.svg');
            position: absolute;
            bottom: 10px;
            right: 35px;
            z-index: -1;
        }

        &:nth-child(1) {
            &::after {
                content: url('../images/blue man.svg');
            }
        }

        &:nth-child(2) {
            &::after {
                content: url('../images/blue guy and bag .svg');
            }
        }

        &:nth-child(3) {
            &::after {
                content: url('../images/derrick.svg');
            }
        }

        &__title {
            width: 100%;
            // margin-bottom: 25px;
            font-weight: bold;
            text-align: center;
            font-size: 36px;
            line-height: 32px;
            margin-bottom: 42px;
            // color: $font-color;
        }

        &__card {
            padding: 40px 60px 50px 40px;
            height: 100%;
            box-shadow: -4px 10px 15px rgba(0, 0, 0, 0.25);
            position: relative;
            background: white;

            &::after {
                position: absolute;
                top: 0;
                left: 40px;
                content: '';
                width: 100px;
                height: 10px;
                background: $purple;
            }
        }

        &__img {
            // position: absolute;
            // bottom: 10px;
            // right: 10px;
        }

        &__list {}

        &__item {
            display: flex;
            margin-bottom: 10px;
            line-height: 32px;

            // align-items: center;
            // flex-wrap: wrap;
            &::before {
                content: '';
                // display: flex;
                // align-items: center;
                // justify-content: center;
                height: 6px;
                min-width: 6px;
                background: $green;
                margin-right: 14px;
                transform: translateY(11px);
            }
        }

        &__bottom {
            margin-top: 70px;
            display: flex;
        }
    }
}