.visit {
    &-container{
        border: 10px solid $purple;
        padding: 68px 70px;
        display: flex;
        justify-content: space-between;
    }
    &-title {
        margin-bottom: 15px;
        position: relative;
        &::after{
            content: url('../images/visit-arrow.svg');
            position: absolute;
            top: 10px;
            right: -45px;
            transform: translate(50%, 0);
            z-index: 99;
        }
    }
    .col-xl-10{
        margin: 0 auto;
    }

    &-subtitle {
        font-size: 24px;
        line-height: 36px;
        color: $gray;
        margin-bottom: 37px;
    }

    &-content{
        max-width: 60%;
    }
    &-label{
        display: flex;
        user-select: none;
        margin-top: 20px;
        span{
            height: 100%;
        }
        p{
            max-width: 80%;
            margin-left: 20px;
            font-size: 14px;
            line-height: 20px;
            color: $gray;
            a{
                text-decoration: underline;
            }
        }
    }
    &-form{
        max-width: 332px;
        &__img{
            max-width: 100%;
            max-height: 240px;
            img{
                width: 520px;
                transform: translateY(-35%);
            }
        }
    }
    input[type="checkbox"] {
        display:none;
    }	
    input[type="checkbox"] + label span {
        display:flex;
        width:30px;
        height:30px;
        // margin:-1px 4px 0 0;
        justify-content: center;
        align-items: center;
        border: 4px solid $blue;
        margin: 2px;
        vertical-align:middle;
        // background: $green;
        cursor:pointer;
    }	
    input[type="checkbox"] + label span span{
        // display:inline-block;
        width:16px;
        height:16px;
        // margin:-1px 4px 0 0;
        // border: 4px solid $blue;
        margin: 3px;
        border: none;
        border-radius: 4px;
        background: $green;
        cursor:pointer;
        box-shadow: 0px 10px 10px rgba(40, 141, 47, 0.5);
    }	
    input[type="checkbox"]:checked + label span span{
        background:transparent;
        box-shadow: none;
    }		
}